<h1 class="ui header">Show Post</h1>

<div class="ui list">
  <div class="item">
    <strong>Title:</strong>
    <%= @post.title %>
  </div>
  <div class="item">
    <strong>Story:</strong>
    <%= @post.story %>
  </div>
</div>

<%= link to: post_path(@conn, :index), class: "ui left labeled icon button" do %>
  <i class="left arrow icon"></i>Back
<% end %>
<%= link "Edit", to: post_path(@conn, :edit, @post), class: "ui button" %>
